/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.pricing-card {
  display: flex;
  flex-direction: column;
  width: 54.4rem;
  height: 40rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 3.4px 10px rgba(0, 0, 0, 0.035), 0 27px 80px rgba(0, 0, 0, 0.07); }
  .pricing-card__main {
    display: flex;
    flex-direction: column; }
  .pricing-card__cta {
    display: flex;
    border-top: 1px solid #eaeefb;
    padding-top: 3.5rem;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .pricing-card__cta {
        flex-direction: column;
        gap: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .pricing-card {
      width: 86vw;
      height: 60vh; } }

.pricing__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media only screen and (max-width: 37.5em) {
    .pricing__header {
      flex-direction: column;
      gap: 1.5rem; } }

.pricing__views {
  align-self: center;
  font-size: 1.35rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800; }

.pricing__price-container {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .pricing__price-container {
      order: 2;
      align-self: center;
      padding-top: 3rem; } }

.pricing__price-amount, .pricing__price-currency {
  font-size: 3.75rem;
  font-weight: 800;
  color: #293356;
  align-self: center;
  letter-spacing: -1px; }

.pricing__price-month {
  align-self: center;
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: 600;
  letter-spacing: 2pz; }

.pricing__footer {
  padding-top: 5rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  gap: 1.6rem;
  padding-bottom: 4rem; }

.pricing__billing {
  align-self: center;
  font-size: 1.2rem; }

.pricing__discount {
  align-self: center;
  color: #ff8c66;
  background-color: #feece7;
  padding: 2px 7px 2px 7px;
  border-radius: 20px;
  transform: translateX(-8px); }
  @media only screen and (max-width: 37.5em) {
    .pricing__discount--long {
      display: none; } }
  .pricing__discount--short {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .pricing__discount--short {
        display: inline; } }

.cta__features {
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .cta__features {
      align-self: center; } }

.cta__features-text {
  font-size: 1.25rem;
  padding-left: 1.5rem;
  text-align: center;
  position: relative; }
  .cta__features-text::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='8'%3E%3Cpath fill='none' stroke='%2310D8C4' stroke-width='2' d='M1 4.134l1.907 1.908L7.949 1'/%3E%3C/svg%3E");
    display: inline-block;
    font-size: inherit;
    position: absolute;
    transform: translateX(-2rem); }

.cta__link {
  align-self: center;
  color: #bdccff;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 12px 40px 12px 40px;
  background-color: #293356;
  border-radius: 20px; }

.slider__container {
  width: 100%;
  padding-top: 3.3rem;
  order: 1; }

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 8px;
  /* Specified height */
  background: #eaeefb;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s; }

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */ }

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 38px;
  /* Set a specific slider handle width */
  height: 38px;
  /* Slider handle height */
  border-radius: 50%;
  background: #10d5c2;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  background-image: url(../../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: hidden; }

.slider::-moz-range-thumb {
  width: 38px;
  /* Set a specific slider handle width */
  height: 38px;
  /* Slider handle height */
  background: #10d5c2;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
  background-image: url(../../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: hidden; }

/* The toggle-btn - the box around the toggle-btn__slider */
.toggle-btn {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px; }

/* Hide default HTML checkbox */
.toggle-btn input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The toggle-btn__slider */
.toggle-btn__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 32px; }

.toggle-btn__slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%; }

input:checked + .toggle-btn__slider {
  background-color: #cdd7ee; }

input:checked + .toggle-btn__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(20px); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #fafbff; }

.container {
  background: url(../../images/bg-pattern.svg) no-repeat;
  background-size: 100vw 56vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-transform: inherit; }

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #858fad; }

.heading-primary {
  color: #293356;
  font-size: 2.8rem; }

.heading-secondary {
  font-size: 1.5rem;
  font-weight: 600; }

.u-margin-top-s {
  margin-top: 1rem; }

.u-padding-left-right-m {
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.u-padding-top-m {
  padding-top: 4rem; }

.u-padding-bottom-m {
  padding-bottom: 4rem; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  height: 20rem;
  background: url(../../images/pattern-circles.svg) no-repeat center; }
