// COLORS
$color-soft-cyan: hsl(173, 50%, 71%); //Full slider bar
$color-strong-cyan: hsl(174, 86%, 45%); //Slider Background
$color-light-grayish-red: hsl(14, 92%, 95%); //Discount Background
$color-light-red: hsl(15, 100%, 70%); //Discount Text
$color-pale-blue: hsl(226, 100%, 87%); //CTA text

// NEUTRAL
$color-white: hsl(0, 0%, 100%); //Pricing Component Background
$color-very-pale-blue: hsl(230, 100%, 99%); //Main Background
$color-light-grayish-blue-empty: hsl(224, 65%, 95%); //Empty Slider Bar
$color-grayish-blue-toggle: hsl(223, 50%, 87%); //Toggle Background
$color-grayish-blue: hsl(225, 20%, 60%); //Text
$color-dark-blue: hsl(227, 35%, 25%); //Text & CTA Background
