.pricing-card {
  display: flex;
  flex-direction: column;
  width: 54.4rem;
  height: 40rem;
  background-color: $color-white;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 3.3px 3.7px rgba(0, 0, 0, 0.009),
    0 8.3px 9.4px rgba(0, 0, 0, 0.013), 0 16.8px 19.1px rgba(0, 0, 0, 0.017),
    0 34.7px 39.4px rgba(0, 0, 0, 0.021), 0 95px 108px rgba(0, 0, 0, 0.03);

  &__main {
    display: flex;
    flex-direction: column;
  }
  &__cta {
    display: flex;
    border-top: 1px solid $color-light-grayish-blue-empty;
    padding-top: 3.7rem;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }
  }
  @include respond(phone) {
    width: 86vw;
    height: 60rem;
  }
  @media only screen and (max-width: 360px) {
    width: 93vw;
    height: 62rem;
  }
}
.pricing {
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include respond(phone) {
      flex-direction: column;
    }
  }
  &__views {
    align-self: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }
  &__price-container {
    display: flex;
    @include respond(phone) {
      order: 2;
      align-self: center;
      padding-top: 3rem;
    }
  }
  &__price-amount,
  &__price-currency {
    font-size: 4rem;
    font-weight: 800;
    color: $color-dark-blue;
    align-self: center;
    letter-spacing: -1px;
  }
  &__price-month {
    align-self: center;
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 600;
    @include respond(phone) {
      font-size: 1.7rem;
    }
  }
  &__footer {
    padding: 5rem 1rem 3.8rem 0;
    display: flex;
    justify-content: flex-end;

    @include respond(phone) {
      justify-content: center;
      transform: translateX(1.9rem);
      padding-right: initial;
      overflow: visible;
    }
  }
  &__billing {
    align-self: center;
    font-size: 1.25rem;
    white-space: nowrap;

    &--yearly::after {
      content: attr(discount) '% Discount';
      font-size: 1.2rem;
      align-self: center;
      color: $color-light-red;
      background-color: $color-light-grayish-red;
      padding: 2px 7px 2px 7px;
      border-radius: 20px;
      margin-left: 5px;

      @include respond(phone) {
        content: '-' attr(discount) '%';
        margin-left: 3px;
      }
    }
    @include respond(phone) {
      font-size: 1.5rem;
      text-align: center;
    }
    @media only screen and (max-width: 315px) {
      white-space: initial;
      line-height: 2.5rem;
    }
  }
}

.cta {
  &__features {
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      align-self: center;
      margin-bottom: 3rem;
    }
  }
  &__features-text {
    font-size: 1.25rem;
    padding-left: 1.6rem;
    position: relative;
    margin-bottom: 1rem;

    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='8'%3E%3Cpath fill='none' stroke='%2310D8C4' stroke-width='2' d='M1 4.134l1.907 1.908L7.949 1'/%3E%3C/svg%3E");
      display: inline-block;
      font-size: inherit;
      position: absolute;
      transform: translateX(-2.3rem);
    }

    @include respond(phone) {
      text-align: center;
      font-size: 1.5rem;
    }
  }

  &__link {
    align-self: center;
    color: $color-pale-blue;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 12px 40px 12px 40px;
    background-color: $color-dark-blue;
    border-radius: 20px;
    margin-bottom: 2rem;

    &:hover {
      color: $color-white;
    }
    @include respond(phone) {
      font-size: 1.5rem;
      padding: 12px 47px 12px 47px;
    }
  }
}
