.slider__container {
  width: 100%;
  padding-top: 4.5rem;
  order: 1;
}
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 8px; /* Specified height */
  background: $color-light-grayish-blue-empty; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 40px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  position: relative;
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  border-radius: 50%;
  cursor: grab; /* Cursor on hover */
  background: $color-strong-cyan url(../../images/icon-slider.svg) center
    no-repeat;
  // backface-visibility: hidden;
  box-shadow: 0 10.6px 43.6px -5px rgba(36, 135, 160, 0.9),
    0 85px 348px -5px rgb(12, 112, 126);

  &:active {
    cursor: grabbing;
  }
}

.slider::-moz-range-thumb {
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  background: $color-strong-cyan; /* Green background */
  cursor: grab; /* Cursor on hover */
  border-radius: 50%;
  background-image: url(../../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: hidden;

  &:active {
    cursor: grabbing;
  }
}
