.slider__container {
  width: 100%;
  padding-top: 3.6rem;
  order: 1;

  @include respond(phone) {
    padding-top: 5rem;
  }
}
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 8px; /* Specified height */
  background: linear-gradient(
    to right,
    hsl(174, 76%, 80%) 0%,
    hsl(174, 76%, 80%) 50%,
    $color-light-grayish-blue-empty 50%,
    $color-light-grayish-blue-empty 100%
  ); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 40px;

  &:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  outline: none;
  position: relative;
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: grab; /* Cursor on hover */
  background: $color-strong-cyan url(../../images/icon-slider.svg) center
    no-repeat;
  backface-visibility: hidden;
  box-shadow: 0 10.6px 43.6px -5px rgba(36, 135, 160, 0.86),
    0 85px 348px -5px rgb(12, 112, 126);

  &:active {
    cursor: grabbing;
  }
}

.slider::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  outline: none;
  position: relative;
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: grab; /* Cursor on hover */
  background: $color-strong-cyan url(../../images/icon-slider.svg) center
    no-repeat;
  backface-visibility: hidden;
  box-shadow: 0 10.6px 43.6px -5px rgba(36, 135, 160, 0.86),
    0 85px 348px -5px rgb(12, 112, 126);

  &:active {
    cursor: grabbing;
  }
}
.slider::-ms--thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  outline: none;
  position: relative;
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: grab; /* Cursor on hover */
  background: $color-strong-cyan url(../../images/icon-slider.svg) center
    no-repeat;
  backface-visibility: hidden;
  box-shadow: 0 10.6px 43.6px -5px rgba(36, 135, 160, 0.86),
    0 85px 348px -5px rgb(12, 112, 126);

  &:active {
    cursor: grabbing;
  }
}
