/* The toggle-btn - the box around the toggle-btn__slider */
.toggle-btn {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Hide default HTML checkbox */
.toggle-btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The toggle-btn__slider */
.toggle-btn__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 42px;
  background-color: $color-grayish-blue-toggle;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 32px;
  opacity: 0.85;
  transition: 0.2s opacity;

  &:hover {
    opacity: 1;
  }
}

.toggle-btn__slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle-btn__slider {
  background-color: $color-grayish-blue-toggle;
}

input:checked + .toggle-btn__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(20px);
}
