.u-margin-top-s {
  margin-top: 1rem;
}
.u-padding-left-right-m {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
.u-padding-top-m {
  padding-top: 4rem;
}
.u-padding-bottom-m {
  padding-bottom: 4rem;
}
