header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  height: 20rem;
  background: url(../../images/pattern-circles.svg) no-repeat center;
}
